.vscode/**
.vscode-test/**
.vscode-test-web/**
out/**
src/**
test-web/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
webpack.config.js
package-lock.json
yarn.lock
.env
.env.*
